<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsaggregator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_android"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="news.yandex.ru"
                    android:pathPattern="/.*.rss"
                    android:scheme="https" />
                <data
                    android:host="news.google.com"
                    android:pathPattern="/.*/.*rss"
                    android:scheme="https" />
                <data
                    android:pathPattern="/.*/.*/.*rss"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".activity.RefreshActivity"
            android:label="@string/timeRefresh" />
        <activity
            android:name=".activity.AddSiteActivity"
            android:label="@string/add_site" />


        <activity
            android:name=".activity.WebActivity"
            android:theme="@style/ACL"
            android:configChanges="orientation|screenSize"
            android:label="@string/web" />
        <activity
            android:name=".activity.DeleteSiteActivity"
            android:label="@string/delete_site" />
        <activity
            android:name=".activity.NewsActivity"
            android:label="@string/topic" />
    </application>
</manifest>
